// =========================================================
// Title Crumbs Banner Container
// =========================================================
@mixin pnm_style_title_crumbs_banner_container($theme: $pnm_theme) {
  background-color: map-get($theme, 'secondary_1');
  @include pnm_util_breakpoint(tablet) {
    background-color: map-get($theme, 'gradient_top');
    background-image: linear-gradient(map-get($theme, 'gradient_top'), map-get($theme, 'gradient_bottom'));
  }
}

@mixin pnm_struct_title_crumbs_banner_container() {
  width: 100%;
  padding: pnm_util_unit(20px) $mobile_column_padding pnm_util_unit(24px);
  box-sizing: border-box;
  @include pnm_util_breakpoint(tablet) {
    padding-top: pnm_util_unit(54px);
    padding-bottom: pnm_util_unit(52px);
  }
}

// =========================================================
// Title Crumbs Banner Inner
// =========================================================
@mixin pnm_struct_title_crumbs_banner_inner() {
  width: 100%;
  @include pnm_util_breakpoint(tablet) {
    max-width: $desktop_column;
    margin-left: auto;
    margin-right: auto;
  }
}

// =========================================================
// Title Crumbs Banner Breadcrumbs Nav
// =========================================================
@mixin pnm_struct_title_crumbs_banner_breadcrumb_nav() {
  padding: 0;
  margin: 0;
  display: none;
  @include pnm_util_breakpoint(tablet) {
    display: block;
  }
}

// =========================================================
// Title Crumbs Banner Breadcrumb Item
// =========================================================
@mixin pnm_style_title_crumbs_banner_breadcrumb_item($theme: $pnm_theme) {
  color: map-get($pnm_theme, 'white');
  list-style: none;
  display: inline-block;
  margin-right: pnm_util_unit(6px);
  padding-right: pnm_util_unit(22px);
  &:not(:last-child) {
    background-image: pnm_util_url("nav_right_arrow_white.svg");
    background-position: right center;
    background-repeat: no-repeat;
  }
}

// =========================================================
// Title Crumbs Banner Breadcrumb Link
// =========================================================
@mixin pnm_style_title_crumbs_banner_breadcrumb_link($theme: $pnm_theme) {
  @include pnm_style_link_light;
  font-size: pnm_util_unit(16px);
  line-height: pnm_util_unit(16px); // text-decoration: underline;
  whitespace: no-wrap;
}

// =========================================================
// Title Crumbs Banner Title
// =========================================================
@mixin pnm_style_title_crumbs_banner_title($theme: $pnm_theme) {
  font-weight: normal;
  color: map-get($theme, 'white');
  font-size: pnm_util_unit(24px);
  line-height: pnm_util_unit(40px);
  margin-top: pnm_util_unit(16px);
  margin-bottom: pnm_util_unit(16px);
  @include pnm_util_breakpoint(tablet) {
    font-size: pnm_util_unit(48px);
    line-height: pnm_util_unit(48px);
    margin-top: pnm_util_unit(30px);
    margin-bottom: pnm_util_unit(32px);
  }
}

@mixin pnm_struct_title_crumbs_banner_title() {
  // ...
}
