// =========================================================
// TABLE OF CONTENTS WRAPPER
// =========================================================
@mixin pnm_style_toc_wrapper($theme: $pnm_theme) {
  background-color: map-get($pnm_theme, 'white');
  border-left: 5px solid map-get($theme, 'secondary_2');
  z-index: 10;
  padding: pnm_util_unit(24px) pnm_util_unit(26px) pnm_util_unit(6px);
  @include pnm_util_breakpoint(tablet) {
    padding: pnm_util_unit(20px) pnm_util_unit(12px) pnm_util_unit(10px);
  }
}

@mixin pnm_struct_toc_wrapper() {
  width: 100%;
}

// =========================================================
// TABLE OF CONTENTS INNER
// =========================================================
@mixin pnm_style_toc_inner($theme: $pnm_theme) {
  margin-left: pnm_util_unit(16px);
  margin-bottom: pnm_util_unit(56px);
  @include pnm_util_breakpoint(tablet) {
    max-width: map-get($theme, 'desktop_column');
    margin-bottom: pnm_util_unit(40px);
  }
}

@mixin pnm_struct_toc_inner() {
  margin-left: auto;
  margin-right: auto;
}

// =========================================================
// TABLE OF CONTENTS TITLE
// =========================================================
@mixin pnm_style_toc_title($theme: $pnm_theme) {
  @include pnm_style_typography_heading_extra_large;
}

@mixin pnm_struct_toc_title() {
  margin: 0 0 pnm_util_unit(22px);
}

// =========================================================
// TABLE OF CONTENTS LIST
// =========================================================
@mixin pnm_style_toc_list($theme: $pnm_theme) {
  list-style: none;
  display: block;
}

@mixin pnm_struct_toc_list() {
  // ...
}

// =========================================================
// TABLE OF CONTENTS ITEM
// =========================================================
@mixin pnm_style_toc_item($theme: $pnm_theme) {
  color: map-get($theme, 'neutral_1');
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: pnm_image('svg', 'arrow_down.svg');
  padding-left: pnm_util_unit(30px);
}

@mixin pnm_struct_toc_item() {
  margin-bottom: pnm_util_unit(20px);
  @include pnm_util_breakpoint(tablet) {
    margin-bottom: pnm_util_unit(14px);
  }
}

// =========================================================
// TABLE OF CONTENTS ITEM LINK
// =========================================================
@mixin pnm_style_toc_item_link($theme: $pnm_theme) {
  @include pnm_style_link($theme);
}

@mixin pnm_struct_toc_item_link() {
  @include pnm_util_breakpoint(tablet) {
    margin-bottom: 0;
  }
}

// =========================================================
// TABLE OF CONTENTS SELECT WRAPPER
// =========================================================
@mixin pnm_style_toc_select_wrapper($theme: $pnm_theme) {
  position: relative;
}

@mixin pnm_struct_toc_select_wrapper() {
  @include pnm_util_breakpoint(tablet) {
    margin-left: auto;
    margin-right: auto;
  }
}

// =========================================================
// TABLE OF CONTENTS SELECT INNER
// =========================================================
@mixin pnm_style_toc_select_inner($theme: $pnm_theme) {
  display: none;
}

@mixin pnm_struct_toc_select_inner() {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  @include pnm_util_breakpoint(tablet) {
    width: 50%;
    left: auto;
  }
}

// =========================================================
// TABLE OF CONTENTS SELECT INNER TABLE
// =========================================================
@mixin pnm_style_toc_select_inner_table($theme: $pnm_theme) {
  display: table;
  background-color: map-get($theme, 'neutral_4');
  padding: pnm_util_unit(10px);
  @include pnm_util_breakpoint(tablet) {
    padding: pnm_util_unit(20px);
  }
}

@mixin pnm_struct_toc_select_inner_table() {
  width: 100%;
}

// =========================================================
// TABLE OF CONTENTS SELECT BOX
// =========================================================
@mixin pnm_style_toc_select_selectbox($theme: $pnm_theme) {
  display: table-cell;
}

@mixin pnm_struct_toc_select_selectbox() {
  min-width: pnm_util_unit(100px);
  max-width: pnm_util_unit(300px);
  @include pnm_util_breakpoint(tablet) {
    max-width: 100%;
  }
}

// =========================================================
// TABLE OF CONTENTS SELECT DISPLAY
// =========================================================
@mixin pnm_style_toc_select_display($theme: $pnm_theme) {
  opacity: 1;
  display: block;
}

@mixin pnm_struct_toc_select_display() {
  width: 100%;
  @include pnm_util_breakpoint(tablet) {
    width: 50%;
  }
}
