// =========================================================
// Featured Items Container
// =========================================================
@mixin pnm_style_featured_items_container($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_featured_items_container() {
  box-sizing: border-box;
  clear: both;
  margin: 0 auto;
  padding: 0;
}

// =========================================================
// Featured Item
// =========================================================
@mixin pnm_style_featured_item($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_featured_item() {
  box-sizing: border-box;
  @include pnm_util_breakpoint(tablet) {
    float: left;
    width: 50%;
    &:nth-child(2n+1) {
      clear: both;
    }
  }
  @include pnm_util_breakpoint(large_tablet) {
    width: 33.333%;
    &:nth-child(2n+1) {
      clear: none;
    }
    &:nth-child(3n+4) {
      clear: both;
    }
  }
}

@mixin pnm_style_featured_item_image($theme: $pnm_theme) {
  @include pnm_style_shrink_image;
}

@mixin pnm_struct_featured_item_image() {
  // ...
}

@mixin pnm_style_featured_item_title($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_featured_item_title() {
  // ...
}

@mixin pnm_style_featured_item_description($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_featured_item_description() {
  // ...
}
