$mobile_image_height: 276px;
$desktop_details_height: 444px;
$desktop_details_width: 524px;
// =========================================================
// Feature Banner Container
// =========================================================
@mixin pnm_style_feature_container($theme: $pnm_theme) {
  @include pnm_util_breakpoint(tablet) {
    background-color: map-get($theme, 'gradient_top');
    background-image: linear-gradient(map-get($theme, 'gradient_top'), map-get($theme, 'gradient_bottom'));
  }
}

@mixin pnm_struct_feature_container() {
  width: 100%;
  position: relative;
}

// =========================================================
// Feature Banner Image Wrapper
// =========================================================
@mixin pnm_struct_feature_image_wrapper() {
  @include pnm_util_breakpoint(tablet) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

// =========================================================
// Feature Banner Image
// =========================================================
@mixin pnm_struct_feature_image() {
  height: $mobile_image_height;
  width: 100%;
  object-fit: cover;
  display: block;
  @include pnm_util_breakpoint(tablet) {
    height: 100%;
  }
}

// =========================================================
// Feature Banner Container Inner
// =========================================================
@mixin pnm_style_feature_container_inner($theme: $pnm_theme) {
  background-color: map-get($theme, 'secondary_1');
  @include pnm_util_breakpoint(tablet) {
    background-color: transparent;
  }
}

@mixin pnm_struct_feature_container_inner() {
  padding-left: $mobile_column_padding;
  padding-right: $mobile_column_padding;
  box-sizing: border-box;
  @include pnm_util_breakpoint(tablet) {
    box-sizing: content-box;
    max-width: $desktop_column;
    margin-left: auto;
    margin-right: auto;
    min-height: $desktop_details_height;
    position: relative;
  }
}

// =========================================================
// Feature Banner Details
// =========================================================
@mixin pnm_style_feature_details($theme: $pnm_theme) {
  color: map-get($theme, 'white');
  @include pnm_util_breakpoint(tablet) {
    background-color: map-get($theme, 'main_navigation_link_over');
  }
}

@mixin pnm_struct_feature_details() {
  padding: pnm_util_unit(22px) pnm_util_unit(2px) pnm_util_unit(36px);
  @include pnm_util_breakpoint(tablet) {
    max-width: $desktop_details_width;
    padding: pnm_util_unit(44px) pnm_util_unit(46px) pnm_util_unit(48px);
  }
}

// =========================================================
// Feature Banner Title
// =========================================================
@mixin pnm_style_feature_details_title($theme: $pnm_theme) {
  color: map-get($theme, 'white');
  font-weight: normal;
  font-size: pnm_util_unit(24px);
  line-height: pnm_util_unit(36px);
  @include pnm_util_breakpoint(tablet) {
    font-size: pnm_util_unit(48px);
    line-height: pnm_util_unit(56px);
  }
}

@mixin pnm_struct_feature_details_title() {
  margin: 0;
  padding: 0;
}

// =========================================================
// Feature Banner Body
// =========================================================
@mixin pnm_style_feature_details_body() {
  font-size: pnm_util_unit(14px);
  line-height: pnm_util_unit(30px);
  @include pnm_util_breakpoint(tablet) {
    font-size: pnm_util_unit(20px);
    line-height: pnm_util_unit(36px);
  }
}

@mixin pnm_struct_feature_details_body() {
  padding-top: pnm_util_unit(10px);
  margin-top: 0;
  @include pnm_util_breakpoint(tablet) {
    padding-top: pnm_util_unit(26px);
  }
}

// =========================================================
// Feature Banner Button
// =========================================================
@mixin pnm_style_feature_details_button($theme: $pnm_theme) {
  color: map-get($theme, 'white');
  font-size: pnm_util_unit(14px);
  text-decoration: underline;
  margin-top: pnm_util_unit(12px);
  @include pnm_util_breakpoint(tablet) {
    @include pnm_style_button();
    font-size: pnm_util_unit(16px);
    line-height: pnm_util_unit(48px);
    text-decoration: none;
  }
}

@mixin pnm_struct_feature_details_button() {
  display: inline-block;
  @include pnm_util_breakpoint(tablet) {
    padding: 0 pnm_util_unit(40px);
    margin-top: pnm_util_unit(38px);
  }
}
