// =========================================================
// Search Toggle
// =========================================================
@mixin pnm_style_header_search_toggle($theme: $pnm_theme) {
  position: relative;
  background-color: transparent;
  height: pnm_util_unit(54px);
  width: pnm_util_unit(54px);
  border: 0;
  background-image: pnm_util_url('search_icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  font-size: 0;
  cursor: pointer;
  &:focus {
    z-index: 1;
  }
  &:focus, &:hover {
    background-image: pnm_util_url('search_icon_hover.svg');
  }
  &.search-open {
    background-image: pnm_util_url('search_icon_close.svg');
    &:focus, &:hover {
      background-image: pnm_util_url('search_icon_close_hover.svg');
    }
  }
}

@mixin pnm_struct_header_search_toggle() {
  // ...
}

// =========================================================
// Search Container
// =========================================================
@mixin pnm_style_header_search_container($theme: $pnm_theme) {
  &.search-open {
    position: absolute;
    left: map-get($theme, 'mobile_column_padding');
    right: map-get($theme, 'mobile_column_padding');
    margin-top: 15px;
    @include pnm_util_breakpoint(tablet) {
      position: relative;
      left: auto;
      right: auto;
      margin-top: auto;
    }
  }
}

@mixin pnm_struct_header_search_container() {
  display: none;
  @include pnm_util_breakpoint(tablet) {
    display: inline-block;
  }
  &.search-open {
    display: inline-block;
  }
}

// =========================================================
// Search Field Container
// =========================================================
@mixin pnm_style_header_search_field_container($theme: $pnm_theme) {
  border: 1px solid map-get($theme, 'neutral_3');
}

@mixin pnm_struct_header_search_field_container() {
  display: flex;
}

// =========================================================
// Search Field
// =========================================================
@mixin pnm_style_header_search_field($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_header_search_field() {
  // ...
}

// =========================================================
// Search Field
// =========================================================
@mixin pnm_style_header_search_input_field($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_header_search_input_field() {
  width: 100%;
}

// =========================================================
// Search Input
// =========================================================
@mixin pnm_style_header_search_input($theme: $pnm_theme) {
  background-color: map-get($theme, 'neutral_4');
  height: pnm_util_unit(54px);
  font-size: 1rem;
  box-sizing: border-box;
  border: 0;
  border-right: 1px solid map-get($theme, 'neutral_3');
  padding: map-get($theme, 'mobile_column_padding');
  width: 100%;
  @include pnm_util_breakpoint(tablet) {
    width: pnm_util_unit(320px);
  }
  &:focus {
    @include pnm_style_focus_outline;
    outline-offset: 0;
    z-index: 1;
  }
  &::-webkit-input-placeholder {
    font-style: italic;
  }
  &:-moz-placeholder {
    font-style: italic;
  }
  &::-moz-placeholder {
    font-style: italic;
  }
  &:-ms-input-placeholder {
    font-style: italic;
  }
}

@mixin pnm_struct_header_search_input() {
  position: relative;
}

// =========================================================
// Search Button
// =========================================================
@mixin pnm_style_header_search_button($theme: $pnm_theme) {
  position: relative;
  background-color: map-get($theme, 'neutral_4');
  height: pnm_util_unit(54px);
  width: pnm_util_unit(54px);
  border: 0;
  background-image: pnm_util_url('search_icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  font-size: 0;
  cursor: pointer;
  &:focus {
    @include pnm_style_focus_outline;
    outline-offset: 0;
    z-index: 1;
  }
  &:focus, &:hover {
    background-image: pnm_util_url('search_icon_hover.svg');
  }
}

@mixin pnm_struct_header_search_button() {
  // ...
}
