// =========================================================
// Search Toggle
// =========================================================
@mixin pnm_style_header_search_toggle($theme: $pnm_theme) {
  position: relative;
  background-color: transparent;
  height: pnm_util_unit(54px);
  width: pnm_util_unit(54px);
  border: 0;
  background-image: pnm_util_url('search_icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  font-size: 0;
  cursor: pointer;
  &:focus {
    z-index: 1;
  }
  &:focus, &:hover {
    background-image: pnm_util_url('search_icon_hover.svg');
  }
  &.search-open {
    background-image: pnm_util_url('search_icon_close.svg');
    &:focus, &:hover {
      background-image: pnm_util_url('search_icon_close_hover.svg');
    }
  }
}

@mixin pnm_struct_header_search_toggle() {
  // ...
}

// =========================================================
// Search Container
// =========================================================
@mixin pnm_style_header_search_container($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_header_search_container() {
  display: none;
  @include pnm_util_breakpoint(tablet) {
    display: inline-block;
  }
  &.search-open {
    display: inline-block;
  }
}

// =========================================================
// Search Field Container
// =========================================================
@mixin pnm_style_header_search_field_container($theme: $pnm_theme) {
  border: 1px solid #BEBEBE;
}

@mixin pnm_struct_header_search_field_container() {
  display: flex;
}

// =========================================================
// Search Field
// =========================================================
@mixin pnm_style_header_search_field($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_header_search_field() {
  // ...
}

// =========================================================
// Search Input
// =========================================================
@mixin pnm_style_header_search_input($theme: $pnm_theme) {
  position: relative;
  background: #F6F6F6;
  height: pnm_util_unit(54px);
  width: pnm_util_unit(320px);
  box-sizing: border-box;
  border: 0;
  border-right: 1px solid #BEBEBE;
  padding: pnm_util_unit(20px);
  &:focus {
    z-index: 1;
  }
}

@mixin pnm_struct_header_search_input() {
  // ...
}

// =========================================================
// Search Button
// =========================================================
@mixin pnm_style_header_search_button($theme: $pnm_theme) {
  position: relative;
  background: #F6F6F6;
  height: pnm_util_unit(54px);
  width: pnm_util_unit(54px);
  border: 0;
  background-image: pnm_util_url('search_icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  font-size: 0;
  cursor: pointer;
  &:focus {
    z-index: 1;
  }
  &:focus, &:hover {
    background-image: pnm_util_url('search_icon_hover.svg');
  }
}

@mixin pnm_struct_header_search_button() {
  // ...
}
