// =========================================================
// MAIN NAVIGATION TOGGLE MENU BUTTON
// =========================================================
@mixin pnm_style_main_navigation_toggle_menu_button($theme: $pnm_theme) {
  padding: 10px;
  background-color: transparent;
  background-image: pnm_util_url('menu_open.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  font-size: 0;
  cursor: pointer;
  width: pnm_util_unit(30px);
  height: pnm_util_unit(30px);
  @include pnm_util_breakpoint(tablet) {
    margin-right: 0;
    height: pnm_util_unit(54px);
    width: pnm_util_unit(54px);
  }
  &:focus, &:hover {
    background-image: pnm_util_url('menu_open_hover.svg');
  }
  &.menu-open {
    background-image: pnm_util_url('search_icon_close.svg');
    &:focus, &:hover {
      background-image: pnm_util_url('search_icon_close_hover.svg');
    }
  }
}

@mixin pnm_struct_main_navigation_toggle_menu_button() {
  // ...
}

// =========================================================
// MAIN NAVIGATION CONTAINER
// =========================================================
@mixin pnm_style_main_navigation_container($theme: $pnm_theme) {
  background-color: map-get($theme, 'secondary_2');
  @include pnm_util_breakpoint(tablet) {
    background-color: map-get($theme, 'secondary_1');
  }
}

@mixin pnm_struct_main_navigation_container() {
  width: 100%;
  display: none;
  @include pnm_util_breakpoint(tablet) {
    display: inline-block;
  }
  &.menu-open {
    display: inline-block;
  }
}

// =========================================================
// MAIN NAVIGATION CONTAINER INNER
// =========================================================
@mixin pnm_style_main_navigation_container_inner($theme: $pnm_theme) {
  @include pnm_util_breakpoint(tablet) {
    max-width: map-get($theme, 'desktop_column');
  }
}

@mixin pnm_struct_main_navigation_container_inner() {
  @include pnm_util_breakpoint(tablet) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

// =========================================================
// MAIN NAVIGATION LIST CONTAINER
// =========================================================
@mixin pnm_style_main_navigation_list_container($theme: $pnm_theme) {
  margin: 0;
  padding: pnm_util_unit(14px) 0;
  @include pnm_util_breakpoint(tablet) {
    padding: 0;
    list-style: none;
    position: relative;
  }
}

@mixin pnm_struct_main_navigation_list_container() {
  @include pnm_util_breakpoint(tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
  }
}

@mixin pnm_style_main_navigation_list_container_compat($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_main_navigation_list_container_compat() {
  @include pnm_util_breakpoint(tablet) {
    display: table;
  }
  @include pnm_util_breakpoint(desktop) {
    table-layout: fixed;
  }
}

// =========================================================
// MAIN NAVIGATION LIST ITEM
// =========================================================
@mixin pnm_style_main_navigation_list_item($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_main_navigation_list_item() {
  list-style: none;
  @include pnm_util_breakpoint(tablet) {
    margin: 0;
    padding: 0;
    position: relative;
  }
  &:hover, &.sfHover {
    &>ul {
      @include pnm_util_breakpoint(tablet) {
        display: block;
      }
    }
  }
}

// =========================================================
// MAIN NAVIGATION LINK
// =========================================================
@mixin pnm_style_main_navigation_link($theme: $pnm_theme) {
  font-family: map-get($theme, 'font_primary');
  color: map-get($theme, 'main_navigation_link_text');
  padding: pnm_util_unit(14px) pnm_util_unit(20px);
  text-align: center;
  transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, color 0.1s ease-in-out;
  @include pnm_util_breakpoint(tablet) {
    padding: pnm_util_unit(14px) pnm_util_unit(16px);
    font-size: pnm_util_unit(18px);
    text-align: left;
  }
  &:focus, &:hover {
    background-color: mix(black, map-get($theme, 'secondary_2'), 25%);
    @include pnm_util_breakpoint(tablet) {
      background-color: map-get($theme, 'secondary_1');
    }
  }
  &:focus {
    outline: 1px solid map-get($theme, 'white');
    outline-offset: -1px;
  }
}

@mixin pnm_struct_main_navigation_link() {
  display: block;
  @include pnm_util_breakpoint(tablet) {
    position: relative;
  }
}

// =========================================================
// MAIN NAVIGATION SUB MENU
// =========================================================
@mixin pnm_style_main_navigation_sub_menu($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_main_navigation_sub_menu() {
  @include pnm_util_breakpoint(tablet) {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
  }
}

// =========================================================
// MAIN NAVIGATION LIST ITEM LEVEL 1
// =========================================================
@mixin pnm_style_main_navigation_list_item_level_1($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_main_navigation_list_item_level_1() {
  @include pnm_util_breakpoint(tablet) {
    position: relative;
    vertical-align: top;
    float: none;
    display: inline-block;
    width: 100%;
    z-index: 1;
  }
}

@mixin pnm_style_main_navigation_list_item_level_1_compat($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_main_navigation_list_item_level_1_compat() {
  @include pnm_util_breakpoint(tablet) {
    display: table-cell;
    width: auto;
  }
}

// =========================================================
// MAIN NAVIGATION LIST ITEM LEVEL 1 PARENT
// =========================================================
@mixin pnm_style_main_navigation_list_item_level_1_parent($theme: $pnm_theme) {
  &::after {
    @include pnm_util_breakpoint(tablet) {
      content: '';
      display: inline-block;
      background-image: pnm_util_url('nav_down_arrow.svg');
      background-position: center;
      background-repeat: no-repeat;
      width: pnm_util_unit(12px);
      height: pnm_util_unit(8px);
      margin-left: pnm_util_unit(4px);
      vertical-align: middle;
    }
  }
  &:focus, &:hover {
    &::after {
      @include pnm_util_breakpoint(tablet) {
        background-image: pnm_util_url('nav_down_arrow_hover.svg');
      }
    }
  }
}

@mixin pnm_struct_main_navigation_list_item_level_1_parent() {
  // ...
}

// =========================================================
// MAIN NAVIGATION LIST ITEM LEVEL 1 ACTIVE
// =========================================================
@mixin pnm_style_main_navigation_list_item_level_1_active($theme: $pnm_theme) {
  background-color: map-get($theme, 'secondary_1');
  @include pnm_util_breakpoint(tablet) {
    background-color: transparent;
  }
  &::before {
    @include pnm_util_breakpoint(tablet) {
      border-bottom-color: map-get($theme, 'main_navigation_link_line');
    }
  }
}

@mixin pnm_struct_main_navigation_list_item_level_1_active() {
  // ...
}

// =========================================================
// MAIN NAVIGATION LIST ITEM LEVEL 1 LINK
// =========================================================
@mixin pnm_style_main_navigation_list_item_level_1_link($theme: $pnm_theme) {
  $default_padding: 22px;
  $border_bottom: 4px;
  @include pnm_util_breakpoint(tablet) {
    padding-top: $default_padding;
    padding-bottom: pnm_util_unit($default_padding - $border_bottom);
    color: map-get($theme, 'main_navigation_link_text');
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    padding-left: pnm_util_unit(2px);
    padding-right: pnm_util_unit(2px);
  }
  &:hover, &:focus {
    @include pnm_util_breakpoint(tablet) {
      background-color: transparent;
      &::before {
        background-color: map-get($theme, 'main_navigation_link_1_over');
      }
    }
  }
  &::before {
    transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, color 0.1s ease-in-out;
    @include pnm_util_breakpoint(tablet) {
      content: '';
      display: inline-block;
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: auto;
      border-bottom: $border_bottom solid transparent;
    }
  }
}

@mixin pnm_struct_main_navigation_list_item_level_1_link() {
  @include pnm_util_breakpoint(tablet) {
    position: static;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
}

// =========================================================
// MAIN NAVIGATION SUB MENU LEVEL 1
// =========================================================
@mixin pnm_style_main_navigation_sub_menu_level_1($theme: $pnm_theme) {
  @include pnm_util_breakpoint(tablet) {
    background-color: map-get($theme, 'main_navigation_sub_menu_background');
  }
}

@mixin pnm_struct_main_navigation_sub_menu_level_1() {
  display: none;
  @include pnm_util_breakpoint(tablet) {
    display: block;
    left: 0;
  }
}

// =========================================================
// MAIN NAVIGATION SUB MENU LEVEL LIST ITEM LEVEL N
// =========================================================
@mixin pnm_style_main_navigation_sub_menu_list_item_level_n($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_main_navigation_sub_menu_list_item_level_n() {
  // ...
}

// =========================================================
// MAIN NAVIGATION SUB MENU LEVEL LIST ITEM LEVEL N PARENT
// =========================================================
@mixin pnm_style_main_navigation_sub_menu_list_item_level_n_parent($theme: $pnm_theme) {
  @include pnm_util_breakpoint(tablet) {
    background-image: pnm_util_url('nav_right_arrow.svg');
    background-repeat: no-repeat;
    background-position: right pnm_util_unit(22px) center;
  }
}

@mixin pnm_struct_main_navigation_sub_menu_list_item_level_n_parent() {
  // ....
}

// =========================================================
// MAIN NAVIGATION SUB MENU LEVEL LIST ITEM LEVEL N ACTIVE
// =========================================================
@mixin pnm_style_main_navigation_sub_menu_list_item_level_n_active($theme: $pnm_theme) {
  @include pnm_util_breakpoint(tablet) {
    border-bottom-color: map-get($theme, 'main_navigation_link_line');
  }
}

@mixin pnm_struct_main_navigation_sub_menu_list_item_level_n_active() {
  // ....
}

// =========================================================
// MAIN NAVIGATION SUB MENU LINK LEVEL N
// =========================================================
@mixin pnm_style_main_navigation_sub_menu_link_level_n($theme: $pnm_theme) {
  @include pnm_util_breakpoint(tablet) {
    color: map-get($theme, 'main_navigation_link_text');
    text-decoration: none;
    font-size: pnm_util_unit(16px);
    font-weight: 600;
    border-bottom: 1px solid transparent;
    padding-left: pnm_util_unit(30px);
    padding-right: pnm_util_unit(30px);
    padding-top: pnm_util_unit(16px);
    padding-bottom: pnm_util_unit((16px - 1px));
  }
  &:hover, &:focus {
    @include pnm_util_breakpoint(tablet) {
      background-color: map-get($theme, 'main_navigation_link_n_over');
    }
  }
}

@mixin pnm_struct_main_navigation_sub_menu_link_level_n() {
  min-width: 12em;
}

// =========================================================
// MAIN NAVIGATION SUB MENU LEVEL N
// =========================================================
@mixin pnm_style_main_navigation_sub_menu_level_n($theme: $pnm_theme) {
  @include pnm_util_breakpoint(tablet) {
    background-color: map-get($theme, 'main_navigation_sub_menu_background');
  }
}

@mixin pnm_struct_main_navigation_sub_menu_level_n() {
  @include pnm_util_breakpoint(tablet) {
    top: 0;
    left: 100%;
  }
}
