// =========================================================
// MAIN NAVIGATION CONTAINER
// =========================================================
@mixin pnm_style_main_navigation_container($theme: $pnm_theme) {
  background-color: map-get($theme, 'secondary_1');
}

@mixin pnm_struct_main_navigation_container() {
  width: 100%;
}

// =========================================================
// MAIN NAVIGATION CONTAINER INNER
// =========================================================
@mixin pnm_style_main_navigation_container_inner($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_main_navigation_container_inner() {
  width: 100%;
  max-width: pnm_util_unit(1024px);
  margin-left: auto;
  margin-right: auto;
}

// =========================================================
// MAIN NAVIGATION LIST CONTAINER
// =========================================================
@mixin pnm_style_main_navigation_list_container($theme: $pnm_theme) {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

@mixin pnm_struct_main_navigation_list_container() {
  // ...
}

@mixin pnm_style_main_navigation_list_container_compat($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_main_navigation_list_container_compat() {
  display: table;
  @include pnm_util_breakpoint(desktop) {
    table-layout: fixed;
  }
}

// =========================================================
// MAIN NAVIGATION LIST ITEM
// =========================================================
@mixin pnm_style_main_navigation_list_item($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_main_navigation_list_item() {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  &:hover, &.sfHover {
    & > ul {
      display: block;
    }
  }
}

// =========================================================
// MAIN NAVIGATION LINK
// =========================================================
@mixin pnm_style_main_navigation_link($theme: $pnm_theme) {
  padding: pnm_util_unit(14px) pnm_util_unit(16px);
  font-size: pnm_util_unit(18px);
  font-family: map-get($theme, 'font_primary');
}

@mixin pnm_struct_main_navigation_link() {
  display: block;
  position: relative;
}

// =========================================================
// MAIN NAVIGATION SUB MENU
// =========================================================
@mixin pnm_style_main_navigation_sub_menu($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_main_navigation_sub_menu() {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
}

// =========================================================
// MAIN NAVIGATION LIST ITEM LEVEL 1
// =========================================================
@mixin pnm_style_main_navigation_list_item_level_1($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_main_navigation_list_item_level_1() {
  position: relative;
  vertical-align: top;
  float: none;
  display: inline-block;
  width: 100%;
  z-index: 1;
}

@mixin pnm_style_main_navigation_list_item_level_1_compat($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_main_navigation_list_item_level_1_compat() {
  display: table-cell;
  width: auto;
}

// =========================================================
// MAIN NAVIGATION LIST ITEM LEVEL 1 PARENT
// =========================================================
@mixin pnm_style_main_navigation_list_item_level_1_parent($theme: $pnm_theme) {
  &::after {
    content: '';
    display: inline-block;
    background-image: pnm_util_url('nav_down_arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: pnm_util_unit(12px);
    height: pnm_util_unit(8px);
    margin-left: pnm_util_unit(4px);
    vertical-align: middle;
  }
}

@mixin pnm_struct_main_navigation_list_item_level_1_parent() {
  // ...
}

// =========================================================
// MAIN NAVIGATION LIST ITEM LEVEL 1 ACTIVE
// =========================================================
@mixin pnm_style_main_navigation_list_item_level_1_active($theme: $pnm_theme) {
  &::before {
    border-bottom-color: map-get($theme, 'main_navigation_link_line');
  }
}

@mixin pnm_struct_main_navigation_list_item_level_1_active() {
  // ...
}

// =========================================================
// MAIN NAVIGATION LIST ITEM LEVEL 1 LINK
// =========================================================
@mixin pnm_style_main_navigation_list_item_level_1_link($theme: $pnm_theme) {
  $default_padding: 22px;
  $border_bottom: 4px;
  padding-top: $default_padding;
  padding-bottom: pnm_util_unit($default_padding - $border_bottom);
  color: map-get($theme, 'main_navigation_link_text');
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  padding-left: pnm_util_unit(2px);
  padding-right: pnm_util_unit(2px);
  &:hover, &:focus {
    &::before {
      background-color: map-get($theme, 'main_navigation_link_over');
    }
  }
  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    border-bottom: $border_bottom solid transparent;
  }
}

@mixin pnm_struct_main_navigation_list_item_level_1_link() {
  position: static;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

// =========================================================
// MAIN NAVIGATION SUB MENU LEVEL 1
// =========================================================
@mixin pnm_style_main_navigation_sub_menu_level_1($theme: $pnm_theme) {
  background-color: map-get($theme, 'main_navigation_sub_menu_background');
}

@mixin pnm_struct_main_navigation_sub_menu_level_1() {
  left: 0;
}

// =========================================================
// MAIN NAVIGATION SUB MENU LEVEL LIST ITEM LEVEL N
// =========================================================
@mixin pnm_style_main_navigation_sub_menu_list_item_level_n($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_main_navigation_sub_menu_list_item_level_n() {
  // ...
}

// =========================================================
// MAIN NAVIGATION SUB MENU LEVEL LIST ITEM LEVEL N PARENT
// =========================================================
@mixin pnm_style_main_navigation_sub_menu_list_item_level_n_parent($theme: $pnm_theme) {
  background-image: pnm_util_url('nav_right_arrow.svg');
  background-repeat: no-repeat;
  background-position: right pnm_util_unit(22px) center;
}

@mixin pnm_struct_main_navigation_sub_menu_list_item_level_n_parent() {
  // ....
}

// =========================================================
// MAIN NAVIGATION SUB MENU LEVEL LIST ITEM LEVEL N ACTIVE
// =========================================================
@mixin pnm_style_main_navigation_sub_menu_list_item_level_n_active($theme: $pnm_theme) {
  border-bottom-color: map-get($theme, 'main_navigation_link_line');
}

@mixin pnm_struct_main_navigation_sub_menu_list_item_level_n_active() {
  // ....
}

// =========================================================
// MAIN NAVIGATION SUB MENU LINK LEVEL N
// =========================================================
@mixin pnm_style_main_navigation_sub_menu_link_level_n($theme: $pnm_theme) {
  color: map-get($theme, 'main_navigation_link_text');
  text-decoration: none;
  font-size: pnm_util_unit(16px);
  border-bottom: 1px solid transparent;
  padding-left: pnm_util_unit(30px);
  padding-right: pnm_util_unit(30px);
  padding-top: pnm_util_unit(16px);
  padding-bottom: pnm_util_unit((16px - 1px));
  &:hover, &:focus {
    background-color: map-get($theme, 'main_navigation_link_over');
  }
}

@mixin pnm_struct_main_navigation_sub_menu_link_level_n() {
  min-width: 12em;
}

// =========================================================
// MAIN NAVIGATION SUB MENU LEVEL N
// =========================================================
@mixin pnm_style_main_navigation_sub_menu_level_n($theme: $pnm_theme) {
  background-color: map-get($theme, 'main_navigation_sub_menu_background');
}

@mixin pnm_struct_main_navigation_sub_menu_level_n() {
  top: 0;
  left: 100%;
}
