// =========================================================
// Footer Nav Container
// =========================================================
@mixin pnm_style_footer_nav_container($theme: $pnm_theme) {
  padding: 0;
}

@mixin pnm_struct_footer_nav_container() {
  margin-bottom: pnm_util_unit(20px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

// =========================================================
// Footer Nav Item
// =========================================================
@mixin pnm_style_footer_nav_item($theme: $pnm_theme) {
  width: 50%;
  margin-bottom: pnm_util_unit(11px);
  @include pnm_util_breakpoint(tablet) {
    width: auto;
    margin-left: pnm_util_unit(20px);
  }
  &:nth-child(2n) {
    text-align: right;
  }
  a {
    @include pnm_style_link_light;
  }
}

@mixin pnm_struct_footer_nav_item() {
  display: inline-block;
}
