@mixin pnm_style_button() {
  background-color: black;
  color: white;
  border: 0;
  height: 100%;
  box-sizing: border-box;
}

@mixin pnm_style_hidden() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin pnm_style_shrink_image() {
  width: auto;
  max-width: 100%;
}

@mixin pnm_style_link() {
  color: #057F83;
  line-height: 1.8em;
  padding: 12px;
  &:focus, &:hover {
    background-color: #057F83;
    color: white;
    text-decoration: none;
  }
}
