$mobile_column_padding: pnm_util_unit(20px);
$desktop_column: pnm_util_unit(1170px);

$pnm_theme: (
   // Colours
  'primary_1': #057F83,
  'secondary_1': #0E595B,
  'secondary_2': #008488,
  'secondary_3': #1B3F40,
  'neutral_1': #3C3C3C,
  'neutral_2': #505050,
  'neutral_3': #BEBEBE,
  'neutral_4': #F6F6F6,
  'white': #FFFFFF,

  // Menu
  'main_navigation_link_line': #01D3DA,
  'main_navigation_link_over': #1C3F41,
  'main_navigation_sub_menu_background': #018488,
  'main_navigation_link_text': white,

  // Fonts
  'font_primary': 'HelveticaNeue-Bold'
);

@mixin pnm_style_button($theme: $pnm_theme) {
  background-color: map-get($theme, 'primary_1');
  color: map-get($theme, 'neutral_4');
  border: 0;
  height: 100%;
  box-sizing: border-box;
}

@mixin pnm_style_hidden($theme: $pnm_theme) {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin pnm_style_shrink_image($theme: $pnm_theme) {
  width: auto;
  max-width: 100%;
}

@mixin pnm_style_link($theme: $pnm_theme) {
  color: map-get($theme, 'primary_1');
  line-height: 1.8em;
  padding: 12px;
  &:focus, &:hover {
    background-color: map-get($theme, 'secondary_1');
    color: map-get($theme, 'neutral_4');
    text-decoration: none;
  }
}

@mixin pnm_style_link_light($theme: $pnm_theme) {
  color: map-get($theme, 'white');
  line-height: 1.8em;
  padding: 12px;
  text-decoration: none;
  &:focus, &:hover {
    text-decoration: underline;
  }
}

@mixin pnm_style_background_dark($theme: $pnm_theme) {
  background-color: map-get($theme, 'secondary_1');
  color: map-get($theme, 'white');
}
