$pnm_theme: (
  // Colours
  'primary_1': #057F83,
  'secondary_1': #0E595B,
  'secondary_2': #008488,
  'secondary_3': #1B3F40,
  'neutral_1': #3C3C3C,
  'neutral_2': #505050,
  'neutral_3': #BEBEBE,
  'neutral_4': #F6F6F6,
  'neutral_5': #313131,
  'neutral_6': #E6E6E6,
  'neutral_7': #FAFAFA,
  'neutral_8': #DDDDDD,
  'neutral_9': #F9F9F9,
  'white': #FFFFFF,
  'gradient_top': #079BA0,
  'gradient_bottom': #137779,

  // Menu
  'main_navigation_link_line': #01D3DA,
  'main_navigation_link_1_over': #1B3F40,
  'main_navigation_link_n_over': #1C3F41,

  'main_navigation_sub_menu_background': #018488,
  'main_navigation_link_text': white,

  // Button
  'button_default_background': #057F83,
  'button_default_text': white,

  // Padding
  'default_padding': pnm_util_unit(20px),
  'mobile_column_padding': pnm_util_unit(20px),

  // Site Column
  'desktop_column': pnm_util_unit(1170px),

  // Fonts
  'font_primary': san-serif,
  'font_secondary': sans-serif,
  'font_tertiary': sans-serif,
  'font_quaternary': sans-serif,
  'font_quinary': sans-serif
);

@mixin pnm_style_button($theme: $pnm_theme) {
  background-color: map-get($theme, 'button_default_background');
  color: map-get($theme, 'button_default_text');
  border: 0;
  height: 100%;
  box-sizing: border-box;
  &:focus, &:hover {
    background-color: mix(black, map-get($theme, 'button_default_background'), 25%);
    color: map-get($theme, 'button_default_text');
  }
}

@mixin pnm_style_hidden($theme: $pnm_theme) {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin pnm_style_shrink_image($theme: $pnm_theme) {
  width: auto;
  max-width: 100%;
}

@mixin pnm_style_focus_outline($theme: $pnm_theme) {
  outline: 1px solid map-get($theme, 'neutral_1');
  outline-offset: 1px;
}

@mixin pnm_style_link($theme: $pnm_theme) {
  text-decoration: none;
  color: map-get($theme, 'primary_1');
  border-bottom: solid 1px map-get($theme, 'primary_1');
  transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, color 0.1s ease-in-out;
  &:focus, &:hover {
    color: map-get($theme, 'white');
    border-color: transparent;
    background-color: map-get($theme, 'secondary_2');
  }
  &:focus {
    @include pnm_style_focus_outline($theme);
  }
}

@mixin pnm_style_link_light($theme: $pnm_theme) {
  $white: map-get($theme, 'white');
  $black: map-get($theme, 'neutral_1');
  $breadcrumb_link: ( 'primary_1': $white, 'secondary_2': $white, 'white': $black, 'neutral_1': $white);
  @include pnm_style_link(map-merge($theme, $breadcrumb_link));
}

@mixin pnm_clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
