// =========================================================
// Body
// =========================================================
@mixin pnm_style_typography_body($theme: $pnm_theme) {
  @include pn_style_typography_paragraph_body($theme);
  margin: 0;
}

// =========================================================
// Input
// =========================================================
@mixin pnm_style_typography_input($theme: $pnm_theme) {
  font-family: map-get($theme, 'font_primary');
  font-size: pnm_util_unit(16px);
}

// =========================================================
// Content Heading Styles
// =========================================================
@mixin pn_style_typography_heading_extra_large($theme: $pnm_theme) {
  font-family: map-get($theme, 'font_tertiary');
  font-size: pnm_util_unit(48px);
  font-weight: 300;
  color: map-get($theme, 'primary_1');
  line-height: 1.13em;
}

@mixin pn_style_typography_heading_large($theme: $pnm_theme) {
  font-family: map-get($theme, 'font_quinary');
  font-size: pnm_util_unit(36px);
  font-weight: 400;
  color: map-get($theme, 'primary_1');
  line-height: 1.17em;
}

@mixin pn_style_typography_heading_medium($theme: $pnm_theme) {
  font-family: map-get($theme, 'font_tertiary');
  font-size: pnm_util_unit(30px);
  font-weight: 400;
  color: map-get($theme, 'neutral_1');
  line-height: 1.2em;
}

@mixin pn_style_typography_heading_small($theme: $pnm_theme) {
  font-family: map-get($theme, 'font_tertiary');
  font-size: pnm_util_unit(24px);
  font-weight: 400;
  color: map-get($theme, 'neutral_1');
  line-height: 1.5em;
}

// =========================================================
// Content Paragraph Styles
// =========================================================
@mixin pn_style_typography_paragraph_large($theme: $pnm_theme) {
  font-family: map-get($theme, 'font_tertiary');
  font-size: pnm_util_unit(22px);
  font-weight: 300;
  color: map-get($theme, 'neutral_1');
  line-height: 1.6em;
}

@mixin pn_style_typography_paragraph_body($theme: $pnm_theme) {
  font-family: map-get($theme, 'font_primary');
  font-size: pnm_util_unit(16px);
  font-weight: 400;
  color: map-get($theme, 'neutral_1');
  line-height: 1.8em;
}

@mixin pn_style_typography_paragraph_small($theme: $pnm_theme) {
  font-family: map-get($theme, 'font_quaternary');
  font-size: pnm_util_unit(14px);
  font-weight: 400;
  color: map-get($theme, 'neutral_2');
  line-height: 2em;
}
