// =========================================================
// Body
// =========================================================
@mixin pnm_style_body($theme: $pnm_theme) {
  @include pnm_util_breakpoint(tablet) {
    padding-left: map-get($theme, 'mobile_column_padding');
    padding-right: map-get($theme, 'mobile_column_padding');
    max-width: map-get($theme, 'desktop_column');
  }
}

@mixin pnm_struct_body() {
  @include pnm_util_breakpoint(tablet) {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 100%;
    grid-template-columns: 25% 75%;
    margin-left: auto;
    margin-right: auto;
  }
}

// =========================================================
// Body Aside Left
// =========================================================
@mixin pnm_style_body_aside_left($theme: $pnm_theme) {
  padding-left: map-get($theme, 'mobile_column_padding');
  padding-right: map-get($theme, 'mobile_column_padding');
  @include pnm_util_breakpoint(tablet) {
    padding-left: 0;
  }
}

@mixin pnm_struct_body_aside_left() {
  @include pnm_util_breakpoint(tablet) {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}

// =========================================================
// Body Aside Centre
// =========================================================
@mixin pnm_style_body_aside_centre($theme: $pnm_theme) {
  padding-left: map-get($theme, 'mobile_column_padding');
  padding-right: map-get($theme, 'mobile_column_padding');
  @include pnm_util_breakpoint(tablet) {
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin pnm_struct_body_aside_centre() {
  @include pnm_util_breakpoint(tablet) {
    grid-column-start: 2;
    grid-row-start: 1;
  }
}
