// =========================================================
// Link to top container
// =========================================================
@mixin pnm_style_link_to_top_container($theme: $pnm_theme) {
  padding-left: $mobile_column_padding;
  padding-right: $mobile_column_padding;
}

@mixin pnm_struct_link_to_top_container() {
  margin-left: auto;
  margin-right: auto;
  max-width: $desktop_column;
  display: flex;
  justify-content: flex-end;
}

// =========================================================
// Link to top
// =========================================================
@mixin pnm_style_link_to_top($theme: $pnm_theme) {
  @include pnm_style_link;
  font-size: pnm_util_unit(14px);
  @include pnm_util_breakpoint(tablet) {
    font-size: pnm_util_unit(16px);
  }
}

@mixin pnm_struct_link_to_top() {
  display: inline-block;
  margin: pnm_util_unit(14px);
  @include pnm_util_breakpoint(tablet) {
    margin: pnm_util_unit(16px);
  }
}
