// =========================================================
// Sidebar Container
// =========================================================
@mixin pnm_style_sidebar_container($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_sidebar_container() {
  position: relative;
}

// =========================================================
// Sidebar Title
// =========================================================
@mixin pnm_style_sidebar_title($theme: $pnm_theme) {
  font-size: pnm_util_unit(18px);
  line-height: pnm_util_unit(48px);
  font-weight: normal;
  button {
    appearance: none;
    text-align: left;
    background-color: map-get($theme, 'neutral_4');
    border: 0;
    font-size: pnm_util_unit(18px);
    padding: pnm_util_unit(20px);
    padding-right: 30px;
    background-image: pnm_util_url('nav_down_arrow_secondary2.svg');
    background-repeat: no-repeat;
    background-position: center right 15px;
    &:focus, &:hover {
      background-image: pnm_util_url('nav_down_arrow_secondary2_hover.svg');
    }
    &.menu-open {
      background-image: pnm_util_url('nav_up_arrow_secondary2.svg');
      &:focus, &:hover {
        background-image: pnm_util_url('nav_up_arrow_secondary2_hover.svg');
      }
    }
  }
}

@mixin pnm_struct_sidebar_title() {
  margin-bottom: 0;
  @include pnm_util_breakpoint(tablet) {
    margin-bottom: pnm_util_unit(30px);
  }
  button {
    display: block;
    width: 100%;
  }
}

// =========================================================
// Sidebar Nav
// =========================================================
@mixin pnm_style_sidebar_nav($theme: $pnm_theme) {
  list-style: none;
  background-color: map-get($theme, 'neutral_7');
  @include pnm_util_breakpoint(tablet) {
    background: none;
    ul {
      background-color: map-get($theme, 'neutral_4');
      border-top: 2px solid map-get($theme, 'neutral_6');
      ul {
        background-color: transparent;
        border-top: none;
        padding-top: 0;
      }
    }
  }
}

@mixin pnm_struct_sidebar_nav() {
  display: none;
  padding: pnm_util_unit(20px) pnm_util_unit(20px) 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  z-index: 100;
  position: static;
  &.menu-open {
    display: block;
  }
  ul {
    display: block;
    padding-top: 0;
  }
  @include pnm_util_breakpoint(tablet) {
    display: block;
    padding: 0;
  }
  ul {
    @include pnm_util_breakpoint(tablet) {
      padding: pnm_util_unit(18px) pnm_util_unit(8px) 0 pnm_util_unit(16px);
      margin-bottom: pnm_util_unit(20px);
      display: block;
    }
    &.menu-closed {
      display: none;
    }
  }
}

// =========================================================
// Sidebar list Item
// =========================================================
@mixin pnm_style_sidebar_list_item($theme: $pnm_theme) {
  font-size: pnm_util_unit(14px);
  line-height: pnm_util_unit(42px);
  button {
    border: none;
    text-indent: -99999px;
    height: pnm_util_unit(42px);
    padding: 0 pnm_util_unit(6px);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: pnm_util_url("nav_up_arrow_secondary2.svg");
    appearance: none;
    cursor: pointer;
    &:focus, &:hover {
      background-image: pnm_util_url("nav_up_arrow_secondary2_hover.svg");
    }
    &:focus {
      @include pnm_style_focus_outline;
    }
    &.menu-closed {
      background-image: pnm_util_url("nav_down_arrow_secondary2.svg");
      &:focus, &:hover {
        background-image: pnm_util_url("nav_down_arrow_secondary2_hover.svg");
      }
    }
  }
  li {
    font-weight: normal;
  }
  @include pnm_util_breakpoint(tablet) {
    font-size: pnm_util_unit(16px);
    font-weight: bold;
  }
}

@mixin pnm_struct_sidebar_list_item() {
  padding: 0 pnm_util_unit(10px);
  li {
    padding: 0;
  }
  @include pnm_util_breakpoint(tablet) {
    button {
      display: block;
      float: right;
    }
  }
}

// =========================================================
// Sidebar list Item Active Trail
// =========================================================
@mixin pnm_style_sidebar_list_item_active_trail($theme: $pnm_theme) {
  background-color: map-get($theme, 'neutral_7');
  ul {
    background-color: transparent;
    border: none;
  }
}

@mixin pnm_struct_sidebar_list_item_active_trail() {
  // ...
}

// =========================================================
// Sidebar list Item Active
// =========================================================
@mixin pnm_style_sidebar_list_item_active($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_sidebar_list_item_active() {
  // ...
}

// =========================================================
// Sidebar Link
// =========================================================
@mixin pnm_style_sidebar_link($theme: $pnm_theme) {
  @include pnm_style_link;
}

@mixin pnm_struct_sidebar_link() {
  // ...
}
