// =========================================================
// Search Result Container
// =========================================================
@mixin pnm_style_search_result_container($theme: $pnm_theme) {
  
}
@mixin pnm_struct_search_result_container {
  
}


// =========================================================
// Search Result Title
// =========================================================
@mixin pnm_style_search_result_title($theme: $pnm_theme) {
  font-weight: normal;
  padding: 0;
  font-size: pnm_util_unit(18px);
  line-height: pnm_util_unit(24px);
  @include pnm_util_breakpoint(tablet) {
    font-size: pnm_util_unit(30px);
    line-height: pnm_util_unit(30px);
  }
  a {
    color: map-get($theme, 'neutral_1');
    text-decoration: underline;
  }
}
@mixin pnm_struct_search_result_title {
  margin: pnm_util_unit(24px) 0 pnm_util_unit(16px);
  @include pnm_util_breakpoint(tablet) {
    margin: pnm_util_unit(42px) 0 pnm_util_unit(22px);
  }
}

// =========================================================
// Search Result Description
// =========================================================
@mixin pnm_style_search_result_description($theme: $pnm_theme) {
  padding: 0 0 0 pnm_util_unit(14px);
  font-size: pnm_util_unit(14px);
  line-height: pnm_util_unit(30px);
  @include pnm_util_breakpoint(tablet) {
    padding: 0 0 0 pnm_util_unit(16px);
    font-size: pnm_util_unit(16px);
  }
}

@mixin pnm_struct_search_result_description {
  margin: 0 0 pnm_util_unit(14px);
  @include pnm_util_breakpoint(tablet) {
    margin: 0 0 pnm_util_unit(16px);
  }
}
