// =========================================================
// Wysiwyg Container
// =========================================================
@mixin pnm_style_wysiwyg_container($theme: $pnm_theme) {
  font-size: pnm_util_unit(14px);
  line-height: pnm_util_unit(30px);
  color: map-get($theme, 'neutral_1');
  p {
    font-size: pnm_util_unit(14px);
    line-height: pnm_util_unit(30px);
  }
  @include pnm_util_breakpoint(tablet) {
    font-size: pnm_util_unit(16px);
    line-height: pnm_util_unit(30px);
    p {
      font-size: pnm_util_unit(16px);
      line-height: pnm_util_unit(30px);
    }
  }
}

@mixin pnm_struct_wysiwyg_container() {
  margin: 0 0 pnm_util_unit(14px);
  p {
    @include pnm_util_breakpoint(tablet) {
      margin: 0 0 pnm_util_unit(16px);
    }
  }
}

// =========================================================
// Wysiwyg Heading 2
// =========================================================
@mixin pnm_style_wysiwyg_heading_2($theme: $pnm_theme) {
  @include pnm_style_typography_heading_large($theme);
}

@mixin pnm_struct_wysiwyg_heading_2() {
  margin: pnm_util_unit(30px) 0;
  @include pnm_util_breakpoint(tablet) {
    margin: pnm_util_unit(72px) 0 pnm_util_unit(32px);
  }
}

// =========================================================
// Wysiwyg Heading 3
// =========================================================
@mixin pnm_style_wysiwyg_heading_3($theme: $pnm_theme) {
  @include pnm_style_typography_heading_medium($theme);
}

@mixin pnm_struct_wysiwyg_heading_3() {
  margin: pnm_util_unit(16px) 0 pnm_util_unit(10px);
  @include pnm_util_breakpoint(tablet) {
    margin: pnm_util_unit(72px) 0 pnm_util_unit(32px);
  }
}

// =========================================================
// Wysiwyg Heading 4
// =========================================================
@mixin pnm_style_wysiwyg_heading_4($theme: $pnm_theme) {
  @include pnm_style_typography_heading_small($theme);
}

@mixin pnm_struct_wysiwyg_heading_4() {
  margin: pnm_util_unit(16px) 0;
  @include pnm_util_breakpoint(tablet) {
    margin: pnm_util_unit(32px) 0;
  }
}

// =========================================================
// Wysiwyg Heading 5
// =========================================================
@mixin pnm_style_wysiwyg_heading_5($theme: $pnm_theme) {
  @include pnm_style_typography_heading_extra_small($theme);
}

@mixin pnm_struct_wysiwyg_heading_5() {
  margin: pnm_util_unit(14px) 0;
  @include pnm_util_breakpoint(tablet) {
    margin: pnm_util_unit(34px) 0 pnm_util_unit(26px);
  }
}

// =========================================================
// Wysiwyg Heading 6
// =========================================================
@mixin pnm_style_wysiwyg_heading_6($theme: $pnm_theme) {
  font-family: map-get($theme, 'font_secondary');
  color: map-get($theme, 'neutral_1');
  font-weight: normal;
  padding: 0;
  font-size: pnm_util_unit(12px);
  line-height: pnm_util_unit(24px);
  @include pnm_util_breakpoint(tablet) {
    font-size: pnm_util_unit(18px);
    line-height: pnm_util_unit(36px);
  }
}

@mixin pnm_struct_wysiwyg_heading_6() {
  margin: pnm_util_unit(14px) 0;
  @include pnm_util_breakpoint(tablet) {
    margin: pnm_util_unit(24px) 0;
  }
}

// =========================================================
// Wysiwyg Table Responsive Wrapper
// =========================================================
@mixin pnm_style_wysiwyg_table_responsive_wrapper($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_wysiwyg_table_responsive_wrapper() {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  margin: pnm_util_unit(18px) 0;
  @include pnm_util_breakpoint(tablet) {
    margin: pnm_util_unit(32px) 0;
  }
  table {
    margin: 0;
  }
}

// =========================================================
// Wysiwyg Table
// =========================================================
@mixin pnm_style_wysiwyg_table($theme: $pnm_theme) {
  background: transparent;
  border: none;
  border-collapse: collapse;
  color: map-get($theme, 'neutral_1');
  thead {
    border-bottom: 2px solid map-get($theme, 'neutral_8');
  }
  tr {
    border-bottom: 1px solid map-get($theme, 'neutral_8');
  }
  td, th {
    border: none;
    font-size: pnm_util_unit(14px);
    line-height: pnm_util_unit(28px);
    font-weight: normal;
    text-align: left;
    padding: pnm_util_unit(12px);
  }
  @include pnm_util_breakpoint(tablet) {
    td, th {
      font-size: pnm_util_unit(16px);
      line-height: pnm_util_unit(30px);
      padding: pnm_util_unit(16px) pnm_util_unit(20px) 0;
    }
  }
}

@mixin pnm_struct_wysiwyg_table() {
  width: 100%;
  margin: pnm_util_unit(18px) 0;
  @include pnm_util_breakpoint(tablet) {
    margin: pnm_util_unit(32px) 0;
  }
}

// =========================================================
// Wysiwyg Table - Striped
// =========================================================
@mixin pnm_style_wysiwyg_table_striped($theme: $pnm_theme) {
  tbody>tr:nth-child(odd) {
    background-color: map-get($theme, 'neutral_9');
  }
}

@mixin pnm_struct_wysiwyg_table_striped($theme: $pnm_theme) {
  // ...
}

// =========================================================
// Wysiwyg Quote
// =========================================================
@mixin pnm_style_wysiwyg_quote($theme: $pnm_theme) {
  color: map-get($theme, 'neutral_5');
  font-size: pnm_util_unit(14px);
  line-height: pnm_util_unit(30px);
  padding: pnm_util_unit(4px) pnm_util_unit(20px);
  border-left: 5px solid map-get($theme, 'secondary_2');
  @include pnm_util_breakpoint(tablet) {
    font-size: pnm_util_unit(18px);
    padding: pnm_util_unit(4px) pnm_util_unit(20px);
    p {
      font-size: inherit;
      line-height: inherit;
      color: inherit;
    }
  }
  cite {
    color: map-get($theme, 'neutral_2');
    font-style: normal;
    display: block;
    font-size: pnm_util_unit(12px);
    line-height: pnm_util_unit(24px);
    padding-top: 6px;
    &:before {
      content: "\2014 ";
    }
    @include pnm_util_breakpoint(tablet) {
      padding-top: 2px;
      font-size: pnm_util_unit(14px);
      line-height: pnm_util_unit(32px);
    }
  }
}

@mixin pnm_struct_wysiwyg_quote() {
  margin: pnm_util_unit(32px) 0;
  p {
    margin: 0;
  }
  @include pnm_util_breakpoint(tablet) {
    margin: pnm_util_unit(32px) 0 pnm_util_unit(32px);
  }
}

// =========================================================
// Wysiwyg Quote Right Align
// =========================================================
@mixin pnm_style_wysiwyg_quote_right_align($theme: $pnm_theme) {
  @include pnm_style_wysiwyg_quote;
  @include pnm_struct_wysiwyg_quote;
  border-right: 3px solid map-get($theme, 'secondary_2');
  border-left: 0;
  cite {
    display: block;
    @include pnm_util_breakpoint(tablet) {
      text-align: right;
      &:before {
        content: "";
      }
      &:after {
        content: "\2014";
      }
    }
  }
}

@mixin pnm_struct_wysiwyg_quote_right_align() {
  // ...
}

// =========================================================
// Wysiwyg Unordered List
// =========================================================
@mixin pnm_style_wysiwyg_ulist($theme: $pnm_theme) {
  padding-left: pnm_util_unit(20px);
}

@mixin pnm_struct_wysiwyg_ulist() {
  margin: pnm_util_unit(16px) 0;
}

// =========================================================
// Wysiwyg Ordered List
// =========================================================
@mixin pnm_style_wysiwyg_olist($theme: $pnm_theme) {
  padding-left: pnm_util_unit(20px);
}

@mixin pnm_struct_wysiwyg_olist() {
  margin: pnm_util_unit(16px) 0;
}

// =========================================================
// Wysiwyg Float Left
// =========================================================
@mixin pnm_style_wysiwyg_float_left($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_wysiwyg_float_left() {
  @include pnm_util_breakpoint(tablet) {
    margin-top: 22px;
    margin-right: 22px;
    margin-bottom: 22px;
    float: left;
  }
}

// =========================================================
// Wysiwyg Float Right
// =========================================================
@mixin pnm_style_wysiwyg_float_right($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_wysiwyg_float_right() {
  @include pnm_util_breakpoint(tablet) {
    margin-top: 22px;
    margin-left: 22px;
    margin-bottom: 22px;
    float: right;
  }
}

// =========================================================
// Wysiwyg Unfloat
// =========================================================
@mixin pnm_style_wysiwyg_unfloat($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_wysiwyg_unfloat() {
  @include pnm_util_breakpoint(tablet) {
    clear: both;
  }
}
