// =========================================================
// Partner Container
// =========================================================
@mixin pnm_style_partner_container($theme: $pnm_theme) {
  background-color: map-get($theme, 'white');
  padding-left: map-get($theme, 'mobile_column_padding');
  padding-right: map-get($theme, 'mobile_column_padding');
  @include pnm_util_breakpoint(tablet) {
    max-width: map-get($theme, 'desktop_column');
  }
}

@mixin pnm_struct_partner_container() {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  @include pnm_util_breakpoint(tablet) {
    box-sizing: content-box;
  }
}

// =========================================================
// Partner
// =========================================================
@mixin pnm_style_partner($theme: $pnm_theme) {
  border: 0;
  margin-bottom: 34px;
}

@mixin pnm_struct_partner() {
  box-sizing: border-box;
  display: block;
  width: 50%;
  &:nth-child(odd) {
    padding-right: 20px;
  }
  &:nth-child(even) {
    padding-left: 20px;
  }
  @include pnm_util_breakpoint(tablet) {
    width: 25%;
    padding-left: 20px;
    padding-right: 20px;
    &:nth-child(4n + 1) {
      padding-left: 0;
    }
    &:nth-child(4n) {
      padding-right: 0;
    }
  }
}

// =========================================================
// Partner Link
// =========================================================
@mixin pnm_style_partner_link($theme: $pnm_theme) {
  color: map-get($theme, 'neutral_1');
  text-decoration: none;
  &:focus {
    @include pnm_style_focus_outline;
  }
}

@mixin pnm_struct_partner_link() {
  display: block;
}

// =========================================================
// Partner Image
// =========================================================
@mixin pnm_style_partner_image($theme: $pnm_theme) {
  @include pnm_style_shrink_image;
  max-height: pnm_util_unit(260px);
  height: pnm_util_unit(200px);
  width: pnm_util_unit(200px);
}

@mixin pnm_struct_partner_image() {
  display: block;
  margin: 0 auto;
  object-fit: scale-down;
}

// =========================================================
// Partner Title
// =========================================================
@mixin pnm_style_partner_title($theme: $pnm_theme) {
  margin-top: 10px;
  margin-bottom: 10px;
}

@mixin pnm_struct_partner_title() {
  text-align: center;
  width: 100%;
}
