// =========================================================
// Thick Link Container
// =========================================================
@mixin pnm_style_thick_link_container($theme: $pnm_theme) {
  padding-left: 20px;
  padding-right: 20px;
  @include pnm_util_breakpoint(tablet) {
    max-width: $desktop_column;
  }
}

@mixin pnm_struct_thick_link_container() {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

// =========================================================
// Thick Link
// =========================================================
@mixin pnm_style_thick_link($theme: $pnm_theme) {
  background-color: map-get($pnm_theme, 'secondary_2');
  display: block;
  font-size: pnm_util_unit(18px);
  padding: $mobile_column_padding;
  width: 100%;
  margin-bottom: 25px;
  @include pnm_util_breakpoint(tablet) {
    width: calc(25% - 10px);
  }
}

@mixin pnm_struct_thick_link() {
  box-sizing: border-box;
}

// =========================================================
// Thick Link Title
// =========================================================
@mixin pnm_style_thick_link_title($theme: $pnm_theme) {
  color: map-get($pnm_theme, 'white');
}

@mixin pnm_struct_thick_link_title() {
  // ...
}
