// =========================================================
// Social Links Container
// =========================================================
@mixin pnm_style_social_links_container($theme: $pnm_theme) {
  background-color: map-get($pnm_theme, 'secondary_3');
}

@mixin pnm_struct_social_links_container() {
  padding: pnm_util_unit(38px) 0;
  width: 100%;
}

// =========================================================
// Social Links Container Inner
// =========================================================
@mixin pnm_style_social_links_container_inner($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_social_links_container_inner() {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

// =========================================================
// Social Links Title
// =========================================================
@mixin pnm_style_social_links_title($theme: $pnm_theme) {
  color: map-get($pnm_theme, 'white');
  font-size: pnm_util_unit(16px);
  line-height: pnm_util_unit(36px);
}

@mixin pnm_struct_social_links_title() {
  display: inline;
  margin: 0 pnm_util_unit(16px) 0 0;
}

// =========================================================
// Social Links
// =========================================================
@mixin pnm_style_social_links($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_social_links() {
  display: inline;
}

// =========================================================
// Social Links Item
// =========================================================
@mixin pnm_style_social_links_item($theme: $pnm_theme) {
  border: none;
  color: map-get($pnm_theme, 'white');
}

@mixin pnm_struct_social_links_item() {
  display: inline-block;
  margin-right: pnm_util_unit(8px);
  vertical-align: middle;
}

// =========================================================
// Social Links Image
// =========================================================
@mixin pnm_style_social_links_image($theme: $pnm_theme) {
  border: none;
}

@mixin pnm_struct_social_links_image() {
  float: left;
  height: auto;
  max-width: 100%;
}
