// =========================================================
// Footer Copyright Container
// =========================================================
@mixin pnm_style_footer_copyright($theme: $pnm_theme) {
  width: 100%;
}

@mixin pnm_struct_footer_copyright() {
  display: inline-block;
  order: 2;
  @include pnm_util_breakpoint(tablet) {
    order: 0;
  }
}

// =========================================================
// Footer Copyright Logo Container
// =========================================================
@mixin pnm_style_footer_logo_container() {
  //...
}

@mixin pnm_struct_footer_logo_container() {
  // ...
}

// =========================================================
// Footer Copyright Logo Container Link
// =========================================================
@mixin pnm_style_footer_logo_container_link($theme: $pnm_theme) {
  &:focus {
    $white: ('neutral_1': map-get($theme, 'white'));
    @include pnm_style_focus_outline(map-merge($theme, $white));
  }
}

@mixin pnm_struct_footer_logo_container_link() {
  // ...
}

// =========================================================
// Footer Copyright Text
// =========================================================
@mixin pnm_style_footer_copyright_text() {
  padding-top: pnm_util_unit(12px);
  line-height: 1.8em;
}

@mixin pnm_struct_footer_copyright_text() {
  //...
}
