// =========================================================
// Footer Copyright Container
// =========================================================
@mixin pnm_style_footer_copyright($theme: $pnm_theme) {
  width: 100%;
}

@mixin pnm_struct_footer_copyright() {
  display: inline-block;
}

// =========================================================
// Footer Copyright Logo Container
// =========================================================
@mixin pnm_style_footer_logo_container() {
  //...
}

@mixin pnm_struct_footer_logo_container() {
  // ...
}

// =========================================================
// Footer Copyright Text
// =========================================================
@mixin pnm_style_footer_copyright_text() {
  padding-top: pnm_util_unit(12px);
  line-height: 1.8em;
}

@mixin pnm_struct_footer_copyright_text() {
  //...
}
