// =========================================================
// Header
// =========================================================
@mixin pnm_style_header($theme: $pnm_theme) {
  margin-left: auto;
  margin-right: auto;
  max-width: map-get($theme, 'desktop_column');
}

@mixin pnm_struct_header() {
  // ...
}

// =========================================================
// Header Inner
// =========================================================
@mixin pnm_style_header_inner($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_header_inner() {
  padding-top: pnm_util_unit(22px);
  padding-bottom: pnm_util_unit(22px);
  @include pnm_util_breakpoint(tablet) {
    padding-top: pnm_util_unit(15px);
    padding-bottom: pnm_util_unit(15px);
  }
}

// =========================================================
// Header First Layer
// =========================================================
@mixin pnm_style_header_layer_1($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_header_layer_1() {
  text-align: right;
  padding-top: pnm_util_unit(15px);
  padding-bottom: pnm_util_unit(22px);
  display: none;
  @include pnm_util_breakpoint(tablet) {
    display: block;
  }
}

// =========================================================
// Header Second Layer
// =========================================================
@mixin pnm_style_header_layer_2($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_header_layer_2() {
  display: table;
  width: 100%;
  box-sizing: border-box;
  @include pnm_util_breakpoint(tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: content-box;
    width: auto;
  }
  &.search-open {
    margin-bottom: pnm_util_unit(54px);
    @include pnm_util_breakpoint(tablet) {
      margin-bottom: auto;
    }
  }
}

// =========================================================
// Header All Layers
// =========================================================
@mixin pnm_style_header_layer($theme: $pnm_theme) {
  padding-left: map-get($theme, 'mobile_column_padding');
  padding-right: map-get($theme, 'mobile_column_padding');
  max-width: map-get($theme, 'desktop_column');
}

@mixin pnm_struct_header_layer() {
  margin-left: auto;
  margin-right: auto;
}

// =========================================================
// Header Tools Container
// =========================================================
@mixin pnm_style_header_tools_container($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_header_tools_container() {
  display: table-cell;
  vertical-align: middle;
  width: pnm_util_unit(70px);
  @include pnm_util_breakpoint(tablet) {
    display: flex;
    width: pnm_util_unit(472px);
  }
}

// =========================================================
// Header Tool
// =========================================================
@mixin pnm_style_header_tool($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_header_tool() {
  display: inline-block;
}

// =========================================================
// Header Logo Container
// =========================================================
@mixin pnm_style_header_logo_container($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_header_logo_container() {
  display: table-cell;
  vertical-align: middle;
  padding-right: pnm_util_unit(15px);
}

// =========================================================
// Header Horizontal Nav Container
// =========================================================
@mixin pnm_style_header_horizontal_nav_container($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_header_horizontal_nav_container() {
  margin: 0;
  @include pnm_util_breakpoint(tablet) {
    display: block;
  }
}

// =========================================================
// Header Horizontal Nav Item
// =========================================================
@mixin pnm_style_header_horizontal_nav_item($theme: $pnm_theme) {
  // ...
}

@mixin pnm_struct_header_horizontal_nav_item() {
  display: inline-block;
  @include pnm_util_breakpoint(tablet) {
    margin-left: pnm_util_unit(22px);
  }
}
