// =========================================================
// Pagination Container
// =========================================================
@mixin pnm_style_pagination_container($theme: $pnm_theme) {
  padding: 0;
}

@mixin pnm_struct_pagination_container() {
  margin: pnm_util_unit(20px) 0;
  @include pnm_util_breakpoint(tablet) {
    margin: pnm_util_unit(48px) 0;
  }
}

// =========================================================
// Pagination Inner
// =========================================================
@mixin pnm_style_pagination_inner($theme: $pnm_theme) {
  padding: pnm_util_unit(16px) 0;
  list-style: none;
  text-align: center;
}

@mixin pnm_struct_pagination_inner() {
  margin: 0;
}

// =========================================================
// Pagination List Item
// =========================================================
@mixin pnm_style_pagination_list_item($theme: $pnm_theme) {
  font-size: pnm_util_unit(16px);
  line-height: pnm_util_unit(16px);
  padding: 0 pnm_util_unit(14px);
}

@mixin pnm_struct_pagination_list_item() {
  display: none;
  @include pnm_util_breakpoint(tablet) {
    display: inline-block;
  }
}

// =========================================================
// Pagination List Item Active
// =========================================================
@mixin pnm_style_pagination_list_item_active($theme: $pnm_theme) {
  a {
    text-decoration: none;
  }
}

@mixin pnm_struct_pagination_list_item_active() {
  display: inline-block;
}

// =========================================================
// Pagination List Item Prev
// =========================================================
@mixin pnm_style_pagination_list_item_prev($theme: $pnm_theme) {
  position: relative;
  a {
    text-indent: -99999px;
    display: inline-block;
    &:after {
      position: absolute;
      left: 0;
      right: auto;
      top: 0;
      content: "<<";
      text-indent: 0;
    }
  }
  @include pnm_util_breakpoint(tablet) {
    position: static;
    a {
      text-indent: 0;
      &:after {
        position: static;
        content: "";
      }
    }
  }
}

@mixin pnm_struct_pagination_list_item_prev() {
  display: inline-block;
}

// =========================================================
// Pagination List Item Next
// =========================================================
@mixin pnm_style_pagination_list_item_next($theme: $pnm_theme) {
  position: relative;
  a {
    text-indent: -99999px;
    display: inline-block;
    &:after {
      position: absolute;
      right: 0;
      left: auto;
      top: 0;
      content: ">>";
      text-indent: 0;
    }
  }
  @include pnm_util_breakpoint(tablet) {
    position: static;
    a {
      text-indent: 0;
      &:after {
        position: static;
        content: "";
      }
    }
  }
}

@mixin pnm_struct_pagination_list_item_next() {
  display: inline-block;
}

// =========================================================
// Pagination Link
// =========================================================
@mixin pnm_style_pagination_link($theme: $pnm_theme) {
  color: map-get($theme, 'primary_1');
}

@mixin pnm_struct_pagination_link() {
  // ...
}
